<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Node.jsサンプル!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Node.jsサンプル!</h1>
    </header>

    <main>
      <p>キーワードに関連したGitHubリポジトリ数を表示します</p>
      
      <form name="keyform">
        <input name="keyword" type="text" placeholder="（例）javascript" />
        <input name="btn" type="button" id="btn" value="実行" />
      </form>
      
      <p id="info"></p>
    </main>

    <footer>
      <small>&copy; 2019 mkooo</small>
    </footer>
    
    <script src="/client.js" defer></script>
  </body>
</html>
